.photos__card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $borderRadL * 1px;
}

@media all and (max-width: $mobileSize) {
    .photos__card {
        border-radius: $borderRadS * 1px;
    }
}