.header__heading {
  margin: 0;
  font-size: $h1SizeDesktop * 1px;
  line-height: $h1LineHDesktop * 1px;
  font-style: normal;
  font-weight: normal;
}

@media all and (max-width: $tabletSize) {
  .header__heading {
    font-size: $h1SizeTablet * 1px;
    line-height: $h1LineHTablet * 1px;
  }
}

@media all and (max-width: $mobileSize) {
  .header__heading {
    font-size: $h1SizeMobile * 1px;
    line-height: $h1LineHMobile * 1px;
  }
}
