.header__heading {
    margin: 0;
    font-size: $h1SizeDesktop * 1px;
    line-height: $h1LineHDesktop * 1px;
}

@media all and (max-width: 1439px) {
    .header__heading {
        font-size: $h1SizeTablet * 1px;
        line-height: $h1LineHTablet * 1px;
    }
}

@media all and (max-width: 768px) {
    .header__heading {
        font-size: $h1SizeMobile * 1px;
        line-height: $h1LineHMobile * 1px;
    }
}