.warranty__card-text {
  margin: 0;
  margin-top: 38px;
  font-size: 15px;
  line-height: 19px;
  color: #8e8e98;
}

@media all and (max-width: $mobileSize) {
  .warranty__card-text {
    margin-top: 36px;
    font-size: 12px;
    line-height: 18px;
  }
}
