.cards__card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  background: $cardColor;
  border-radius: 16px;
  margin-left: 20px;
}

.cards__card:hover {
  background: $cardSelColor;
}

.cards__card:first-child {
  margin-left: 0;
}

@media all and (max-width: $tabletSize) {
  .cards__card {
    margin: 0;
    margin-top: 20px;
  }
}

@media all and (max-width: $mobileSize) {
  .cards__card {
    padding: 20px;
  }

  .cards__card:first-child {
    margin-top: 0;
  }
}
