$fontFamily: Roboto, Arial, sans-serif;

$primColor: #000000;
$cardColor: #1C1C1E;
$cardSelColor: #232327;
$formColor: #47474c;
$formInputColor: rgba(142, 142, 152, 0.2);
$formInputSelColor: rgba(142, 142, 152, 0.3);



$primTextColor: #ffffff;
$secTextColor: #8e8e98;

$logoTextSizeDesk: 22;
$logoLineHeightDesk: 30;
$logoTextSizeMobile: 20;
$logoLineHeightMobile: 28;

$h1SizeDesktop: 112;
$h1SizeTablet: 70;
$h1SizeMobile: 50;
$h2SizeDesktop: 80;
$h2SizeTablet: 50;
$h2SizeMobile: 30;
$h1LineHDesktop: 112;
$h1LineHTablet: 90;
$h1LineHMobile: 60;
$h2LineHDesktop: 70;
$h2LineHTablet: 60;
$h2LineHMobile: 38;

$PrimLetterSpacing: 0.375;



$primSizeDesktop: 32;
$primLineHeightDesktop: 40;
$primSizeTablet: 20;
$primLineHeightTablet: 30;
$primSizeMobile: 12;
$primLineHeightMobile: 18;


$cardHeaderSize: 18;
$cardTextSize: 15;

$sectionPaddingDesktop: 160;
$sectionPaddingTablet: 60;
$sectionPaddingMobile: 20;
$sectionMarginDesktop: 60;
$sectionMarginMobile: 20;


$borderRadS: 4;
$borderRadM: 8;
$borderRadL: 10;
$borderRadXL: 16;

$tabletSize: 1439px;
$mobileSize: 767px;