.logo__text {
  margin: 0;
  font-size: $logoTextSizeDesk * 1px;
  line-height: $logoLineHeightDesk * 1px;
}

@media all and (max-width: 767px) {
  .logo__text {
    font-size: $logoTextSizeMobile * 1px;
    line-height: $logoLineHeightMobile * 1px;
  }
}
