.photos__card_content_thirdCard {
  background-color: #25E197;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media all and (max-width: $tabletSize) {
  .photos__card_content_thirdCard {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media all and (max-width: $mobileSize) {
  .photos__card_content_thirdCard {
    height: 124px;
  }
}
