.photos__card_content_card4 {
  background-image: url("../images/Card4.jpg");
  grid-column-start: 3;
  grid-column-end: 4;
}

@media all and (max-width: 1439px) {
  .photos__card_content_card4 {
    height: 344px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media all and (max-width: 767px) {
  .photos__card_content_card4 {
    height: 211px;
  }
}
